html,
body {
  background: #0a132d;
  color: #eee;
  font-family: "Canaro", sans-serif;
  transform-origin: 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.color1 {
  color: rgb(50, 209, 126);
  /* 32D17E */
}

.color2 {
  color: rgb(217, 229, 6);
  /* D9E506 */
}

.color3 {
  color: rgb(105, 132, 209);
  /* 6984D1 */
}

.color4 {
  color: rgb(64, 135, 126);
  /* 40877E */
}

.color5 {
  color: rgb(86, 197, 201);
  /* 56C5C9 */
}

@font-face {
  font-family: "Canaro";
  font-style: normal;
  font-weight: normal;
  src: url("https://s3-eu-west-1.amazonaws.com/ems-assets/font-light.otf") format("opentype");
}

@font-face {
  font-family: "Canaro";
  font-style: normal;
  font-weight: bold;
  src: url("https://s3-eu-west-1.amazonaws.com/ems-assets/font-medium.otf") format("opentype");
}

@font-face {
  font-family: "Canaro Book";
  src: url("https://s3-eu-west-1.amazonaws.com/ems-assets/font-book.otf") format("opentype");
}

@font-face {
  font-family: "Canaro Black";
  src: url("https://s3-eu-west-1.amazonaws.com/ems-assets/font-black.otf") format("opentype");
}

@font-face {
  font-family: "Canaro Semi Bold";
  src: url("https://s3-eu-west-1.amazonaws.com/ems-assets/font-semi-bold.otf") format("opentype");
}

@font-face {
  font-family: "Canaro Medium";
  src: url("https://s3-eu-west-1.amazonaws.com/ems-assets/font-medium.otf") format("opentype");
}

@font-face {
  font-family: "Canaro Light";
  src: url("https://s3-eu-west-1.amazonaws.com/ems-assets/font-light.otf") format("opentype");
}

@font-face {
  font-family: "Canaro Extra Light";
  src: url("https://s3-eu-west-1.amazonaws.com/ems-assets/font-extra-light.otf") format("opentype");
}

@font-face {
  font-family: "Canaro Thin";
  src: url("https://s3-eu-west-1.amazonaws.com/ems-assets/font-thin.otf") format("opentype");
}

.font-bold {
  font-family: "Canaro Bold", sans-serif;
}

.font-semi-bold {
  font-family: "Canaro Semi Bold", sans-serif;
}

.font-light {
  font-family: "Canaro Light", sans-serif;
}

.font-extra-light {
  font-family: "Canaro Extra Light", sans-serif;
}

.font-thin {
  font-family: "Canaro Thin", sans-serif;
}

.el-icon-arrow-down {
  font-size: 12px;
}

.el-dropdown-menu {
  background: rgba(17, 38, 74, 0.95);
  border: 1px solid #08132f;
  box-shadow: 0 6px 20px rgba(0, 19, 29, 0.8);
  margin: 0 0 0 0 !important;
  border-radius: 0;
  padding: 0;
}

.el-dropdown-menu__item {
  color: #fff;
  font-size: 14px;
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  background: rgba(14, 31, 60, 0.8);
  color: #fff;
}

.el-dropdown-menu.el-popper .popper__arrow {
  display: none !important;
}

.el-popover.project-popover {
  background: rgba(16, 38, 73, 0.96);
  border: 1px solid #102649;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .4), 0 0px 50px rgba(0, 0, 0, .2);
  color: #fff;
  padding: 0;
  margin-top: -50px;
  border-radius: 2px;
  max-height: 99%;
  max-width: 99%;
  overflow: auto;
}

.el-popover.project-popover .el-main {
  padding: 0;
}

.el-main {
    overflow: initial !important;
    width: 100%;
}

.project-popover__header {
  background: rgba(8, 19, 47, .6);
  padding: 15px 15px 0px 15px;
  font-size: 18px;
  position: relative;
}

.project-popover__header__owner {
  font-size: 14px;
  color: #64a0b0;
  height: 22px;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-popover__header__name {
  width: calc(100% - 110px);
  min-height: 25px;
  word-break: normal;
  text-align: left;
  font-weight: bold;
  line-height: 20px;
  padding-bottom: 3px;
}

.project-popover__header__progress {
  width: 100px;
  position: absolute;
  right: 15px;
  text-align: right;
  top: 35px;
  font-weight: bold;
}

.project-popover__header__weeks {
  width: 200px;
  color: #64a0b0;
  position: absolute;
  right: 15px;
  text-align: right;
  top: 15px;
  font-size: 14px;
}

.project-popover__progress {
  background: rgba(8, 19, 47, .6);
  height: 13px;
}

.project-popover__progress .progress-line {
  height: 8px !important;
  border-radius: 0 !important;
  width: 100% !important;
  background-color: #152f5d !important;
}

.project-popover__progress .progress-line::after {
  height: 8px !important;
  border-radius: 0px !important;
  box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.4) !important;
}

.project-popover__progress .progress-line::before {
  height: 8px !important;
  border-radius: 0 !important;
}

.project-popover__progress .progress-line div {
  right: 0px !important;
  top: 0px !important;
  height: 8px !important;
  border-radius: 0 !important;
  background: #09112b !important;
}

.project-popover__epics {
  padding: 15px;
  overflow: hidden;
}

.project-popover__epic {
  min-height: 20px;
  position: relative;
  margin-bottom: 15px;
  font-weight: bold;
}

.project-popover__epic:last-child {
  margin-bottom: 0;
}

.project-popover__epic__name {
  width: calc(100% - 160px);
  word-break: normal;
  text-align: left;
}

.project-popover__epic__effort {
  width: 70px;
  position: absolute;
  right: 80px;
  top: 0;
  color: #64a0b0;
}

.project-popover__epic__status {
  width: 80px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}

.project-popover__epic.health-bad .project-popover__epic__status,
.project-popover.health-bad .project-popover__header__progress {
  color: rgb(230, 57, 57);
}

.project-popover__epic.health-normal .project-popover__epic__status {
  color: #fff;
}

.project-popover__epic.health-good .project-popover__epic__status {
  color: #d7df20;
}

.project-popover__epic.health-best .project-popover__epic__status,
.project-popover.health-good .project-popover__header__progress {
  color: #32d17e;
}

.project-popover__epic.health-forget .project-popover__epic__status {
  color: #64a0b0;
}

.project-popover.health-normal .project-popover__header__progress {
  color: #405eb8;
}

.el-header {
  line-height: 50px;
  background: #11264a;
  box-shadow: 0 0 12px 6px rgba(0, 0, 0, .3);
  color: #64a0b0;
  z-index: 5;
}

.header-logo-selector {
  min-width: 500px;
}

.logo {
  width: 180px;
  margin-top: 6px;
  vertical-align: top;
  display: inline-block;
  overflow: hidden;
}

.logo svg {
  height: 40px;
}

.page-selector {
  vertical-align: top;
  display: inline-block;
  margin-top: 4px;
  margin-left: 10px;
}

.area-name {
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  outline: 0;
}

.epic-container {
  height: auto;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  display: flex;
}

.epic-container-column {
  column-count: 3;
  column-gap: 50px;
  column-width: 300px;
  padding: 0;
  width: 100%;
  padding-right: 30px;
}

.epic-container-column__objective,
.epic-container-column__project {
  align-items: center;
  display: flex;
  height: 60px;
  padding: 0 10px;
  width: 100%;
  -webkit-column-break-inside: avoid-column;
  page-break-inside: avoid-column;
  break-inside: avoid-column;
  transition: all .2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.overview-page .epic-container-column__objective,
.overview-page .epic-container-column__project {
  height: 65px;   
}

.epic-container-column__project {
  cursor: pointer;
}

.epic-container-column__project,
.epic-container-column__project * {
  outline: none !important;
}

.epic-container-column__project__internal {
  padding: 0;
}

.epic-container-column__objective {
  background: #11264a;
  font-size: 18px;
  height: 47px;
  border-top: 10px solid #0a132d;
  padding-top: 3px;
  -webkit-column-break-after: avoid;
  -webkit-break-after: avoid-column;
  -moz-break-after: avoid-column;
  break-after: avoid-column;
  text-shadow: 1px 1px rgba(0, 0, 0, 1);
}

.overview-page .epic-container-column__objective {
  height: 52px;   
  margin-bottom: 10px;
}

.epic-container-column__objective__name {
  width: calc(100% - 50px);
  float: left;
  font-weight: bold;
}

.epic-container-column__objective__percentage {
  float: right;
  width: 50px;
  text-align: right;
}

.epic-container-column__project__title {
  height: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 105px);
  display: inline-block;
}

.epic-container-column__project__area {
 font-size: 11px;
 color: #64a0b0;
 opacity: .6;
 padding-bottom: 1px;
}

.epic-container-column__project__epic-counts {
  width: 100px;
  height: 15px;
  display: inline-block;
  text-align: right;
  top: -3px;
  position: relative;
  font-size: 12px;
  color: #64a0b0;
  opacity: .6;
}

.progress-line {
  width: calc(100% - 45px);
  display: inline-block;
  background: #11264a;
  height: 4px;
  border-radius: 2px;
  position: relative;
}

.progress-line::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 4px;
  border-radius: 2px;
  width: var(--percentage);
  background: #63bb61;
}

.progress-line::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 4px;
  border-radius: 2px;
  width: var(--percentage-with-in-progress);
  background: url(../stripe4.gif) center center repeat-x;
  opacity: 0.8;
}

.progress-line div {
  display: block;
  position: absolute;
  right: 1px;
  top: 1px;
  height: 2px;
  border-radius: 2px;
  width: var(--percentage-not-to-do);
  background: #060c1f;
  max-width: calc(100% - 2px);
}

.progress-percentage {
  position: absolute;
  top: 3px;
  right: 0;
  width: 40px;
  display: inline-block;
  text-align: right;
  font-size: 12px;
}

.progress-percentage.done {
  color: rgb(50, 209, 126);
  width: 65px;
  font-size: 13px;
  background: #09132d;
  font-weight: bold;
}

.progress-percentage.done i {
  display: inline-block;
  margin-right: 3px;
}

.global-objectives {
    background: #060d21;
    margin: -20px -20px 20px -20px;
    border-bottom: 1px solid #0e1e4a;
    box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,.3);
}

.global-objectives__container, .global-objectives__progress {
    height: 310px;
    position: relative;
    margin: 20px;
    background: rgba(9, 19, 45, .3);
    border: 1px solid rgba(14, 30, 74, .5);
    box-sizing: border-box;
}

.global-objectives__container {
    margin-right: 10px;
}

.global-objectives__progress {
    margin-left: 10px;
    padding: 35px 40px;
    box-sizing: border-box;
} 

.global-objectives__chart-container {
    width: 300px;
    height: 350px;
    position: absolute;
    top: 0;    
}

.global-objectives__details {    
    position: absolute;
    left: 300px;
    top: 45px;
    width: calc(100% - 320px);
}

.global-objectives__details__title {
    font-size: 24px;
    font-weight: bold;
}

.global-objectives__detail {
    padding: 12px 0;                  
}

.global-objectives__detail .global-objectives__detail__progress:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 2px;
    position: relative;
    top: 1px;
}

.global-objectives__detail:nth-child(1) .global-objectives__detail__progress:before {
    background: #d3dc2d;
}

.global-objectives__detail:nth-child(2) .global-objectives__detail__progress:before {
    background: #56c5c9;
}

.global-objectives__detail:nth-child(3) .global-objectives__detail__progress:before {
    background: #6879ae;
}

.global-objectives__detail__name {
    font-size: 18px;      
    color: #64a0b0; 
    margin-top: 1px;      
    margin-left: 33px;     
}

.global-objectives__detail__progress {    
    display: inline-block;
    margin-left: 2px;
    font-size: 24px;
}

.global-objectives__detail__weeks {
    color: #64a0b0;
    display: inline-block;
    font-size: 12px;
    opacity: .6;
}

.global-objectives__progress__row {
    position: relative;
}

.global-objectives__progress__big-container {
    text-align: center;
}

.global-objectives__progress__big {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
}

.global-objectives__progress__big-title {
    font-size: 18px;
    color: #64a0b0;    
}

.global-objectives__progress__value-container {
    text-align: center;
}

.global-objectives__progress__bar {   
    width: 100%;    
    height: 20px;    
    margin-top: 27px;
}

.global-objectives__progress__bar:before, .global-objectives__progress__bar:after {
    content: " ";
    position: absolute;
    display: block;    
    height: 20px;
    border-radius: 10px;
    background: #102648;
    width: 100%;
}

.global-objectives__progress__bar:after {
    width: var(--percentage);
    background: #63bb61;    
}


.global-objectives__time__bar {
    width: 100%;    
    box-sizing: border-box;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 35px; 
    position: relative;
    margin-bottom: 35px;       
    color: #64a0b0;   
    font-size: 12px;
    opacity: .6;
}

.global-objectives__time__bar:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    display: block;    
    border-top: 2px dashed #64a0b0;    
}

.global-objectives__time__start, .global-objectives__time__end {
    position: absolute;
    top: -6px;     
    background:#070f24;
}

.global-objectives__time__start {
    left: 0;    
    padding-right: 8px;
}

.global-objectives__time__end {
    right: 0;    
    padding-left: 8px;
}

.global-objectives__time__current {
    background: #070f24;
    position: absolute;
    top: 10px;
    /* color: #fff; */
    font-weight: bold; 
}

.global-objectives__time__current.label-left {
    text-align: right;
    width: var(--percentage);    
}

.global-objectives__time__current.label-right {
    text-align: left;
    left: var(--percentage);
}

.global-objectives__progress__title {
    font-size: 18px;
    color: #64a0b0;  
}

.global-objectives__progress_value {
    font-size: 24px;
}


.global-objectives__chart-container svg, .global-objectives__chart-container .apexcharts-canvas {
    height: 350px !important;
    min-height: 350px !important;
}

.global-objectives__chart {
    position: absolute;
    top: 50px;    
    left: -10px;
}

@media only screen and (max-width: 991px) {
    .logo {
      width: 20px;
    }
    .header-logo-selector {
      min-width: 335px;
    }
  
    .area-name {
        font-size: 16px;
    }

    .global-objectives__progress {
        padding: 10px;
    }

    .global-objectives__progress {
        margin-left: 20px;
        margin-right: 20px;
    }

    .global-objectives__container, .global-objectives__progress {
        height: 245px;
    }
  
    .global-objectives__progress_value {
        font-size: 18px;
    }
  
    .global-objectives__progress__title {
        font-size: 14px;
    }
  }


/* 
.global-objectives__labels div:nth-child(3) {
    color: #4eb273;
}

.global-objectives__labels div:nth-child(2) {
    color: #427f73;
}

.global-objectives__labels div:nth-child(1) {
    color: #d3dc2d;
} */